.checkout_ad{
  /* object-fit: contain; */
  width: 100%;
  height: 105px;
  max-height: 200px;
  /* margin-bottom: 10px; */
}

.checkout__cart{
  /* padding-top: 0px; */
   padding-bottom: 19px;
   padding-left: 25px;
   background-color: white;
}